.sceneBkg{
  height: 100vh;
  width: 100vw;
  background: $brown;
  overflow: hidden;

}

.entryLink{
  width: 144px;
  position: absolute;
  z-index: 20;
  left: 50%;
  margin-left: -72px;
  
  @media(min-height:850px){
    top: 600px;
  }
  @media(max-height:850px){
    top: 600px;
  }
  @media(max-height:800px){
    top: 575px;
  }
  @media(max-height:750px){
    top: 550px;
  }
  @media(max-height:700px){
    top: 525px;
  }

  @media(max-width:1200px){
    font-size: 1em;
    top: 500px;
      @media(max-height:650px){
        top: 450px;
      }
      @media(max-height:600px){
        top: 400px;
      }
      @media(max-height:550px){
        top: 350px;
      }
  }
  @media(max-width:800px){
    font-size: .8em;
    top: 350px;
      @media(max-height:450px){
        top: 300px;
      }
      @media(max-height:400px){
        top: 250px;
      }
      @media(max-height:350px){
        top: 225px;
      }
  }


}

.entryLinkTxt{
  color:$brown;
  &:hover{
    cursor: pointer;
    color: $red;
  }
}

.sceneContainer{
  height: 1000px;
  width: 1600px;
  left: 50%;
  margin-left: -800px;
  top: 0;
  position: relative;
  overflow: hidden;

  border: 20px solid $brown;
  // box-shadow: inset 0 0 0 10px $wht;
  @media(max-height:850px){
    top: -50px;
  }
  @media(max-height:800px){
    top: -100px;
  }
  @media(max-height:750px){
    top: -125px;
  }
  @media(max-height:700px){
    top: -150px;
  }
}

.sceneContainerSmall{
  height: 500px;
  width: 800px;
  position: relative;
  left: 50%;
  margin-left: -400px;
  top: 0;
  overflow: hidden;
  border: 4px solid $brown;
  @media(max-height:450px){
    top: -25px;
  }
  @media(max-height:400px){
    top: -50px;
  }
  @media(max-height:350px){
    top: -80px;
  }
}

.sceneContainerMedium{
  height: 750px;
  width: 1200px;
  position: relative;
  left: 50%;
  margin-left: -600px;
  top: 0;
  overflow: hidden;
  border: 4px solid $brown;
  @media(max-height:650px){
    top: -50px;
  }
  @media(max-height:600px){
    top: -100px;
  }
  @media(max-height:550px){
    top: -120px;
  }
}

.layer{
  width: 100vw;
  height: auto;
}


@media(max-width: 1200px){
  .sceneContainer{
    display: none;
  }
}

@media(min-width:1200px){
  .sceneContainerMedium{
    display: none;
  }
}

@media(max-width: 800px){
  .sceneContainerMedium{
    display: none;
  }
}

@media(min-width: 800px){
  .sceneContainerSmall{
    display: none;
  }
}


#bkg{
  margin-left: -20px;
}

#mbkg{
  margin-left: -20px;
}

// preloader

.preloader{
  padding: 50px;
  background: $brown;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 21;
  animation: darken 2s;
}

@keyframes darken{
  0%{background: $blk}
  100%{background: $brown}
}

.iaLogo {
    background-image: url("../images/iaLogo.svg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    width: 50px;
    height: 50px;
    animation: grow 5s linear infinite;
    margin: 100px auto ;
}

@keyframes grow {
    0% { transform: scale(1); }
    100% { transform: scale(2); }
}

.spinnerLogo{
  
  height: 50px;
  width: 75px;
  margin: 75px auto;
  position: absolute;
  z-index: 24;
}