<div class="bkg">
<nav></nav>
<div class="navSpacer"></div>


    
<div class="container-fluid">
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel1splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Double College Arch</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">All my sports designs are designed to be swapped out for any other school.  Making a design that works for Iowa as well as Middle Tennessee University is always a challenge.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel2splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Block Tail</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This is a simple twist on a basic collegic design.  Arched block with a script tail.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel3splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Elephant Egg</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This design was built to be swapped out for any school with a mascot.  Although it seems elaborate, there are some simple tricks that make it easy to just click and type. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel4splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Vintage Football</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This design is a classic football design with some distress patterns I made for vintage graphics.  It's an out-of-the-box hand-me-down. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel5splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">World Wake Surfing Championship Tee</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">The client wanted the brightest possible grpahic for thier tee.  Three blues making a sea of color offset the orange to make it scream off the white shirt. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel6splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Starved Rock State Park Tee</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This design used the scribble effect on the appearance palette instead of a texture.  It's a template that can be swapped for any use. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel7splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Elite Archery Logo Treatment</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This bow company is bleeding edge in their field and the design had to reflect that. It's more of a motorsports design than an archery design, which helped to make it stand out.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel8splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Boombah Applique / Screenprint sweatshirt</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This design uses a quilted two layer applique over screenprint to provide a ton of texture and that passed down look. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel9splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">USA Monogram tee</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This design can literally say anything as long as you want it to be 'Merican. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel10splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Inland Surfer</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">The client wanted a lot of throwback surfing style tees to sell their brand. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel11splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Football Championship Tee</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This design was made to be used for any state, any combination of schools, and with tons of room to place any information you could want to present.  This sold in Alabama, California, and in Canada. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel12splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Bear Archery Vintage Tee</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Bear archery has been around forever, and they've got a wonderful series of throwback logos this design was made to show off.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel13splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Patriot Wing</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This line never got off the ground, but this design is great.  I've reused the wing a ton of times for other projects, but this version was the best.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel14splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Patriot Stack</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">The only thing more 'Merica than an eagle or a star is an eagle AND a star AND lightning bolts. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel15splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Lutsen Canoe Design</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">I made my own stock art company.  In the process I made a great canoe and needed to build a design around it.  It's our best selling outdoor design.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel16splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Underwater Fishing Desing</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This design is a different take on fishing designs, in that it shows the sport from the fish's point of view.  </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel17splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Big Ed</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">I made some artwork for a tongue in cheek apparel line based on a taxidermist's shop in Wisconsin.  It's gross, but it's a good graphic. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="apparel18splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">3D Block</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This design was built to showcase a new distress I made by rubbing printer paper on a sidewalk and scanning it back into photoshop.  It's incredibly soft and looks great on large blocks of color. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  

<div class="row">
  <!-- apparel -->
  <div class="col-md-4">
    <div class="smallPortPiece " id="apparel19splash">
      <div class="barHolder flexColumn">
        <div class="topBar flexRow">
          <h4 class="smallBarTitle">Back Alley Smokehouse Tee</h4>
          <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
        </div>
        <div class="bottomBarSmall">

            <p class="smallBarP">I made a bunch of graphics for this local company and this is the one that customers bought like gangbusters.  It's based on a conglomeratoin of a dozen whiskey labels. </p>
      
        </div>
      </div>
    </div>
  </div>
  
  <!-- apparel -->
  <div class="col-md-4">
    <div class="smallPortPiece " id="apparel20splash">
      <div class="barHolder flexColumn">
        <div class="topBar flexRow">
          <h4 class="smallBarTitle">Big Frame College Tee</h4>
          <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
        </div>
        <div class="bottomBarSmall">

            <p class="smallBarP">I call these designs the "big frame" as they allow you to convey the team's information while showing off a particular good mascot. </p>
      
        </div>
      </div>
    </div>
  </div>
  
  <!-- apparel -->
  <div class="col-md-4">
    <div class="smallPortPiece " id="apparel21splash">
      <div class="barHolder flexColumn">
        <div class="topBar flexRow">
          <h4 class="smallBarTitle">American Harvester</h4>
          <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
        </div>
        <div class="bottomBarSmall">

            <p class="smallBarP">This design is for a farming themed clothing line.  As an Iowan, I had to represent. P.S. I made the headquarters in Ware, Iowa.  You'll get the joke if you look it up.</p>
      
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- end row -->
</div>
  <!-- end container -->


</div>
</div>


<!-- start modal -->
<div class="pseudoModalHolder" ng-show="pseudoModal">
  <div class="pseudoModalBkg" ng-click="(pseudoModal =!pseudoModal); remove()"></div>
  <div class="pseudoModal">  
    <web1 ng-show="vars.web1"></web1>
    <web2 ng-show="vars.web2"></web2>
  </div>
</div>
<!-- end modal -->