<div class="bkg">
<nav></nav>
<div class="navSpacer"></div>


    
<div class="container-fluid">
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print1splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">J-America Catalog</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Forty page catalog for J-America Sportswear.  Landscape, flipbook style with lots of white space for sales reps to take notes.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print2splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">J-America Supplemental Catalog</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This was a supplemental catalog for J-America made to save money on several catalogs a year. It was built to fold into the existing catalog.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print3splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Wehr's Machine & Racing Parts Catalog</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Don't know a thing about racing, but I made a catalog for someone who does.  Learned more about photographing chrome than I ever though I'd have to.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print4splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">J-America Programs Catalog</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This 128-page book displayed bulk deals and sales programs for reps to sell to customers. It tied into the main catalog for that quarter and had to be printed in house. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print5splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Individual College Programs</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Using a script I wrote to quickly produce custom catlogs, we made 145 for schools and businesses at about an hour each.  The next line release we made over 230. They were 16 pages each.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print6splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Production Guidelines, Motionwear</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">My first job out of college was "Special Projects Manager" at Motionwear.  I learned most production jobs in the factory and wrote the manuals and made the technical illustrations for each. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print7splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Screen Print Manuals (many companies)</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">At each company, I contributed to or completely wrote the screen print manuals.  I was responsible for technical illustrations, formulas, and techniques.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print8splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Graphics Standards Manuals</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">With automation comes best practices that make things go smoothly.  With my manuals and scripts, I increased production art's efficency by 380% and creative's by 150%.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="print9splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Point of Purchase (POP) designs</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">I've made hundreds of plans for tradeshows, retail spaces, or even just offering suggestions to customers for product display.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <!-- end container -->


</div>
</div>


<!-- start modal -->
<div class="pseudoModalHolder" ng-show="pseudoModal">
  <div class="pseudoModalBkg" ng-click="(pseudoModal =!pseudoModal); remove()"></div>
  <div class="pseudoModal">  
    <web1 ng-show="vars.web1"></web1>
    <web2 ng-show="vars.web2"></web2>
  </div>
</div>
<!-- end modal -->