<div class="bkg">
<nav></nav>
<div class="navSpacer"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <!-- housing helper logo -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo1Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Housing Helper Logo</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Logo for Housing Helper, a web app for property managers to use when working with renters in houses and apartment buildings. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- mid michigan aikikai logo -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo2Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Mid Michigan Aikikai</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo2')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">The red sunburst above the bokken and tanto represent the practice space in a historical Lansing building. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- mid michigan aikikai logo -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo3Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Easy Amber Lager Logo</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo3')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Logo for Sergeants Brewing Company.  Amber's face is the girlfriend of the owner. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- Bruiser Art Company-->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo4Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Bruiser Art Company</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Vintage logo for sports themed stock art site. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- Dallin Parker Logo-->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo5Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Dallin Parker Logo</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo2')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Web developer from Utah, and yes, he has glasses. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- Turnkey Instrument Solutions -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo6Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Turnkey Instrument Solutions</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo3')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Logo for Indianapolis heavy industry calibration company. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- Starved Rock State Park -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo7Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Starved Rock State Park</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Logo for several types of apparel and signs for Starved Rock State Park, Illinois. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- Rejected Atomic Bass -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo8Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Unused Atomic Bass Jersey Logo</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo2')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Company wanted a vintage look for an unused apparel line.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- mid michigan aikikai logo -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo9Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Paar Sportswear Logo</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo3')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Logo for a sportswear company.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- venom logo-->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo10Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Venom</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Neon green secondary logo for hunting supply company. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- Mike Chi-->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo11Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Mike Chi Web Developer</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo2')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Nice, clean monogram reflecting the client, who is both nice and clean. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- big ed's taxidermy-->
    <div class="col-md-4">
      <div class="smallPortPiece " id="logo12Splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Big Ed's Taxidermy</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo3')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Logo for Big Ed's Taxidermy, a clothing line based around hunting culture. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  <!-- end container -->

</div>




<!-- start modal -->
<div class="pseudoModalHolder" ng-show="pseudoModal">
  <div class="pseudoModalBkg" ng-click="(pseudoModal =!pseudoModal); remove()"></div>
  <div class="pseudoModal">  
    <web1 ng-show="vars.web1"></web1>
    <web2 ng-show="vars.web2"></web2>
  </div>
</div>
<!-- end modal -->