<div class="bkg">
<nav></nav>
<div class="navSpacer"></div>


    
<div class="container-fluid">
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration1splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Iowa School in Winter</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This is the opening splash from a comic I made.  Pen and ink, colored in Photoshop.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration2splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Bulldog Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Bulldogs is the most common team name in the US and Canada, so I needed a good one for my sports stock art company.  Pencil drawing redrawn in Illustrator.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration3splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Seed Comic Cover</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">The cover for my comic was pen and ink, colored in Photoshop. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration4splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Mudslinger Label</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This label illustration was done in illustrator and Photoshop to give it a chalk drawing look.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration5splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Squid / Starfish Monster</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This character design for my comic was meant to be simple and gross.    </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration6splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Pirate Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This pirate mascot comes with a body for applications where there is room to use it. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration7splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Canoe Paddles</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">I made a series of decorative paddles in Illustrator using spot colors with screen print separations in mind.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration8splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Ram Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">I had trouble making the horns look right on this mascot until I found a picture of tiramisu with cookies on the outside.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration9splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Vector Bear</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Most bear logos are roaring or big blocks of cartoony teeth and jowls.  I neede a full drawing of a bear in profile and it turned out well. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration10splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Page from Seed Vol 2</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This page of my comic is of a giant robot monster breaking out of an aircraft hangar.  Pen and ink and Photoshop colors.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration11splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Easy Amber Six Pack</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">The logo itself was covered in logos.  I painted the packaging in Photoshop to replicate a P51 Mustang fighter.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration12splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Devil Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Best devil mascot I've ever done.  Illustrator. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>

  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration13splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Viking Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This viking is my best selling mascot.  He turned out looking like a cross between a lion and a warrior.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration14splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Panther Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This was my attempt at a 3/4 view mascot to capture the teeth and ferocity of the panther without flattening it out.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration15splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Lion Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This is the result of a few tries at making a regal lion.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration16splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Tiger Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">This is the first mascot I ever made.  Still sells well.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration17splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Canoe Illustration</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Outdoor designs for older enthusiasts on apparel often tend to be raster and complicated to separate.  I made a quick and dirty vector version using spot colors, accompanied by a manual on how to do the separations.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration18splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Shark Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Everyone who has a Sharks team steals San Diego's logo.  I made an alternative along those lines. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  
  <div class="row">
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration19splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Basketball Icons</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">These icons were made to serve as elements in basketball designs or website icons.</p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration20splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Eagle Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">Just like the shark logo, Eagles teams tend to steal from Philadelphia.  I made an alternative design.   </p>
        
          </div>
        </div>
      </div>
    </div>
    
    <!-- apparel -->
    <div class="col-md-4">
      <div class="smallPortPiece " id="illustration21splash">
        <div class="barHolder flexColumn">
          <div class="topBar flexRow">
            <h4 class="smallBarTitle">Vintage Tiger Mascot</h4>
            <!-- <p class="barTitleClickHere" ng-click="(add('logo1')); (pseudoModal =!pseudoModal)"> click to see more </p> -->
          </div>
          <div class="bottomBarSmall">

              <p class="smallBarP">I made a 1930s mascot for a team in Iowa. </p>
        
          </div>
        </div>
      </div>
    </div>
    
    
    
    <!-- end row -->
  </div>
  <!-- end container -->


</div>
</div>


<!-- start modal -->
<div class="pseudoModalHolder" ng-show="pseudoModal">
  <div class="pseudoModalBkg" ng-click="(pseudoModal =!pseudoModal); remove()"></div>
  <div class="pseudoModal">  
    <web1 ng-show="vars.web1"></web1>
    <web2 ng-show="vars.web2"></web2>
  </div>
</div>
<!-- end modal -->