<div class="bkg">
<nav></nav>
<div class="navSpacer"></div>



    <div class="aboutColumn">
      
      <div class="skillzList flexRow">
        
        <div class="skillz1 flexColumn">
          <h4 class="skillzHeadline">Coding Skills</h4>
          <ul class="skillzList">
            <li>HTML/CSS</li>
            <li>Javascript</li>
            <li>JQuery</li>
            <li>NodeJS</li>
            <li>AngularJS</li>
            <li>SQL</li>
            <li>Applescript</li>
            <li>GitHub</li>
            <li>Bootstrap</li>
            <li>SASS/SCSS</li>
            <li>Gulp</li>
            <li>Parallax.js</li>
          </ul>
        </div>
        
        <div class="skillz1 flexColumn">
          <h4 class="skillzHeadline">Design Skills</h4>
          <ul class="skillzList">
            <li>Illustrator</li>
            <li>Photoshop</li>
            <li>InDesign</li>
            <li>Web Design</li>
            <li>Offset Printing</li>
            <li>Screen Printing</li>
            <li>Dye Sublimation</li>
          </ul>
        </div>
        
        
        <div class="resumeLinkContainer">
          <h4 class="skillzHeadline">Résumé</h4>
          <ul class="skillzList">
            <li><a href="./app/docs/Lucas-Hawk-Resume.docx" download="LucasHawkResume">Word</a></li>
            <li><a href="./app/docs/Lucas-Hawk-Resume.pages" download="LucasHawkResume">Pages</a></li>
            <li><a href="./app/docs/Lucas-Hawk-Resume.pdf" download="LucasHawkResume">PDF</a></li>
          </ul>
          

        </div>
        
      </div>
      <div class="contentImgLeft" id="selfie"></div>
    
    
    
      
      <h3 class="aboutHeadline">About Me</h3>
      
      <p class="contentP">I've been a graphic designer, an art director, and a creative director, and now I'm a web designer-developer.  I've never been a purely creative artist, nor a programmer.  I'm both.  I've never had an art job that I didn't partially automate.  </p>
      <p class="contentP">Writing my name over and over, filling out forms, repeating myself, and doing the work of a human stamp are things I've always eliminated from every job.  I'm lazy in the best way.  If there's a task you have to do more than once, the computer can do it better.  I've spent years learning how.  </p>
      <p class="contentP">If you want a problem solver, a brainstormer, a fiddler, someone who plays with their work and always pushes to learn new stuff and make things better, I'm your guy.</p>
      <p class="contentP">I like hiking, biking, Aikido, craft beer, heavily peated scotch, baseball, retro video games, comics, D&D, and cats.  I also like to put pretentious pictures of myself in my portfolio.  I climbed eleven mountains this year, I'm making a canoe, and I'm 1/3 complete with my Sega Master System collection.  If anyone sees this and has a copy of Golden Axe Warrior in their possession, call me and I will buy it from you for $250. If you have one with the poster, add $50.</p>

    
      <h3 class="aboutHeadline">Experience</h3>
      
      <p class="contentP">As an artist, I've worked for a leotard factory, a industrial system calibration company, breweries, Adidas, four other companies like Adidas, credit unions, dojos, whatever the Chinese word for dojo is, universities, hunting companies, bow manufacturers, fishing lure manufacturers, jersey companies, all kinds of miscellaneous apparel companies, printing houses, and embroiderers.</p>
      <p class="contentP"> As a student at the University of Northern Iowa, I was a manual stripper for a Heidelberg press.  Computers existed, but they were old school at that shop.   In the summers, I would go to Indianapolis and work at Motionwear, where I learned every job in that apparel factory.   After graduation, I moved to work there, where I  wrote the manuals for each position and started their screen print business, which is still going today.
      </p>
      <p class="contentP"> I left Motionwear to follow my now wife to Kansas where she got her masters degree.  I got a job there in a screen printing and apparel manufacturing company that specialized in spirit-wear for high schools.  I was a graphic designer using Corel Draw and PCs.  I brought my experience from Motionwear and built on it, dipping my toe into automation and writing my first manuals for screenprint and production art.  
      </p>
      <p class="contentP">Once my wife got her degree, we moved to Indianapolis again, where I got hired at Adidas.  I started as a production artist, but that evolved within the year.  I partially automated my job, helped rewrite their screenprint manual based on what I learned from their master separation artists, and compiled for the first time all their formulas in one handy reference guide. </p>
      <p class="contentP">Within a year I was hired at J-America Sportswear in Michigan,  where I started as a Creative Artist and was promoted to art director shortly thereafter.   I automated massive portions of the creative and production workload.  One task which used to take a day, I got down to about an hour.  I worked to automate all the tasks that took artists away from creating and editing artwork for customers.  I was part of a very small team responsible for six major line releases a year, including creating materials for catalogs, trade shows, apparel graphics, research and development, and packaging.  The workload was heavy, but due to automation and the quality of the staff, we outproduced companies many times our size.  </p>
      <p class="contentP">After five years at J-America, I left to take a Creative Director position at Boombah Sportswear in the suburbs of Chicago.  In a year, I switched the shop from Corel Draw and PCs to Adobe and Macs, my team introduced the first new batch of original art the company had seen in years, and I joined the web department in creating their first uniform builder.  This allowed customers to make softball jerseys to their specifications and the company to produce them with minimal effort. </p>
      <p class="contentP">After a year there, my wife and I decided that we wanted to move back to Iowa.  Our families are here,  and I love the bike trails, the craft beer, and the culture.  I worked as a freelance artist for the past four years, making apparel, sales materials, packaging, catalogs, web sites, logos, and automation processes for companies in the U.S. and Canada.  I started my own stock art company, <a href="http://www.bruiserart.com">bruiser art</a>.  I've done work for local companies and international corporations. </p>
      <p class="contentP">It was fun, but now I'm ready for a change of emphasis in my career.  Working from home all day may seem like a great thing, but with days on end with only your cat for company, I found I need to work with people. After a lot of thought, research, and soul searching, I decided to go back to school to scratch the coding itch.  I attended Dev Mountain coding bootcamp in Utah, learned full stack web development, won a design award for "best business solution" for my student project scheduling app, and graduated with the skills of a junior developer. </p>
      <p class="contentP">My google foo is strong, I've got the skills and knowledge of a career in manufacturing and design, and the chops and enthusiasm of a fresh faced, doe-eyed junior dev.</p>
      <p class="contentP">If I sound like I'm up your alley, give me a call.</p>
      

    </div>
    
    
    
  </div>

